/*ESPACAMENTO DOS DADOS DE UM FORMULARIO*/
.pane-body{
	padding: 1rem;
}
/*CENTRALIZADOR DE BOTÕES*/
.btCentra {
	text-align: center;
}


/*CONTRALIZADNO O MODAL NA TELA*/
.modal {
	text-align: center;
	padding: 0!important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
	background-color: red;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}


/*--------- DROPDOWN MENU -------------*/

.rolagem {
    position: static;
    display: inline-table;
}

.rolagem-content {
		display: none;
		position: absolute;
		background-color: #d9d9d9;
		min-width:10px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
		padding: 1px 10px;
		z-index: 1;
}

.rolagem:hover .rolagem-content {
    display: block;
}

/*----------- HEADER ------------ */
